.container{
  margin-bottom: 100px;
}
.caros-bg{
  background-color: #FEEAE9;
  border-radius: 10px;
}
.row{
  padding: 20px 40px;
}
.Buy-now-btn{
  background-image: linear-gradient(to bottom, #ff5898 0%, #ff136f 100%);
  border: none;
  color: #fff;
  padding: 9px 25px;
  border-radius: 8px;
  cursor: pointer;
}
.price{
  color: #ff136f;
}
.watch{
  background-image: linear-gradient(to top, #FFD019, #FF9C35);
}
.bag {
  background-image: linear-gradient(to top, #FF136F, #FF589B);
}
.shoe{
  background-image: linear-gradient(to top, #3F07F8, #4289FF);
}
.watch,.bag,.shoe{
  padding: 10px 30px;
  border-radius: 10px
}
.categories img{
  width: 100px;
}
.categories h1{
  color: white;
}
.categories span h1{
  color: black;
}
.card{
  border: none;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  border-radius: 10px;
}
.card-footer{
  background-color: white;
  border: none;
}
#subscribe{
  height: 300px;
}
#subscribe h6{
  color: gray;
}
footer{
  text-align: center;
}